.header{
    display: flex; 
    /* margin-top: 1.5rem;
    margin-bottom: 1.5rem;  */
    justify-content: space-around; 
    align-items: center; 

    .city{
        font-size: 1.125rem;
        line-height: 1.75rem; 
        font-weight: 500;
        border-style: none;
        background-color: transparent; 
        color: #ffffff;
    }
}
