.App { 
  margin: auto;
  max-width: 768px; 
  margin-top: 1rem; 
  padding: 1.25rem 8rem 1.25rem 8rem;
  height: fit-content; 
  /* background: linear-gradient(to bottom right, #0099cc, #004080); */
  width: 100%;
  box-shadow: 0 4px 12px rgba(169, 169, 169, 0.6);

  &.background{
    background: linear-gradient(to bottom right, #0099cc, #004080);
  }

  &.background-hot{
    background: linear-gradient(to bottom right, rgb(255, 223, 66),rgb(255, 159, 64));
  }
}

.mr{
  margin-right:0.25rem
}